html{
  
  background: pink ;
}


h1{
  text-align: center;
}

.foto{
    display: flex; 
    justify-content: center;
  /*background-size: cover;*/  
padding: 5px;
background-color: rgb(183, 125, 236);
}


.f1{
 width:200px;
  height: 200px;  
   background-image: url(/img/LairaCampeona.jpg);
  background-size: cover; 
  margin-right: 10px;
}

.f2{
 width:200px;
  height: 200px;
   background-image: url(/img/descarga.jpeg); 
  background-size: cover;
}