body{
  background-image: linear-gradient(to top, white 30%, lightblue 100%);
}

.sombra{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.titulo-principal{
  border: 5px solid black;
  background-color: #EDBB99;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  
}

.caja-Martin img{
  width: 300px;
  height: 300px;
  padding: 30px;
  margin-top: 30px;
  border-radius: 50%;
}

.caja-Martin{
  position: relative;
  border: 5px solid black;
  border-radius: 10px;
  background-image: url(/img/sierra.jpg);
  background-size: cover;
 display: flex;
  justify-content: center;
  width: 100%;    
  margin: 0 auto;
}

.titulo-Martin{
  position: absolute;
  text-transform: uppercase;
margin-top: 10px;
}

.navegacion-principal{
  display: flex;
   border: 5px solid black;
  border-radius: 10px;
  background-color:#EDBB99;
  justify-content:space-evenly;
  margin: 20px auto;
}

.navegacion-principal a{
  border: 5px solid black;
  border-radius: 10px;
  background-color: #b695c0;
  margin: 20px auto;
  padding: 20px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  
}

.navegacion-principal a:hover{
  background-color: lightblue;
  border: 5px solid red;
  color: black;
}

.intereses{
  display: grid;
  grid: auto 300px 300px / 300px 300px;
  column-gap: 20px; 
  width: 70%;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #A2D9CE  ;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.iconos{
  display: flex;
  flex-direction: column;
  align-items: center;  
   border: 5px solid black;
  border-radius: 50%;
  padding-top: 20px;
  margin: 20px;
  padding-bottom: 20px;
  background-color: #b695c0;  
}

.iconos:nth-child(1){
  grid-column: 1/3;
  border-radius: 50%;
}

.contenedor.form {
  max-width: 120rem;
  margin: 0 auto 0 auto;
}

.titulo-formulario{
  text-align: center;
}

.formulario{
  background-color: grey;
  width: min(600px, 100%);
  margin: 0 auto;
  padding:20px;
  border-radius: 10px;
}

.formulario fieldset{
  border: none;
}

.formulario legend{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.contenedor-campos{
  
}

.campo{
  margin-bottom: 10px;
}

.campo label{
  margin-bottom: 5px;
  font-weight: 700;
  color: #b904b9;
  display: block;
}

.input-text{
  width: 95%;
  margin: 0 auto;
  border: none;
  padding: 15px;
  border-radius: 10px;
}

.boton {
  background-color: #b695c0;
  color:black;
  padding: 1rem 3rem;
  margin-top: 3rem ;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
  border: 5px solid black;
}

.boton:hover{
  background-color: lightblue;
  border: 5px solid red;
  color: black;
  cursor: pointer;
}

.enviar .boton{
  width: 100%;  
}

.campo textarea{
  height: 200px;
}

@media(max-width:907px){
  .intereses{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }
  .iconos{
    padding: 30px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
  }

  .iconos svg{
    height: 50px;
    width: 50px;
    margin: 0px;
  }

  .iconos p{
    text-transform: uppercase;
    margin: 0px;
  } 

  .caja-Martin{
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
  }

  .caja-Martin img{
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 50%;
}


  .titulo-Martin{
    position: relative;   
      text-align: center;
  }

  .navegacion-principal{
    flex-direction: column;
  }

  .navegacion-principal a{
    margin: 5px;
  }

  .formulario{
    width: fit-content;
  }
}
