/*html, body {
  height: 100%;
  width: 100%;
}*/

.sombra{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.titulo-principal{
  text-align: center;
  text-transform: uppercase;
  color: red;
   border: 3px solid black;
  border-radius: 10px;
  background-color: black;
  margin: auto;
  width: 95%;
}

.caja-martin{
  position: relative;
  background-image: url(/img/bandera.jpg);
  background-size: contain;
  background-repeat: inherit;
  display: flex;
  width: 95%;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  height: 400px;
  margin: 50px auto auto auto;
}



.caja-martin > img{
  margin: 40px;
}

.caja-martin .img3{
  width: 240px;
}

.caja-back{
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  background-color: rgb(0 0 0/60%);
  width: 100%;
  height: 100%;
}

.titulo-martin{
  position: absolute;
  text-transform: uppercase;
  color:red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin:10px 0px 0px 0px;  
  border: 3px solid black;
  border-radius: 10px;
  background-color: black;
}

.navegacion-principal {
    background-color: black;
    width: 95%;
    margin: 20px;
  border-radius: 10px;
  border: 3px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navegacion-principal a {
  height: 20px;
  width:max-content;
  background-color: red;
 /* background-size: cover; */
  text-align: center;
  align-items: center;
  margin:10px 0 10px 0 ;
  border-radius: 10px;
  padding:20px;
    text-transform: uppercase;
    text-decoration: none;
 color: black;
  }

.navegacion-principal a:hover{
    background-color: black;
    color: red;
}

.intereses{
  display: grid;
  grid: 200px 200px 200px / 300px 300px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: auto;
  margin: 0px 200px 0px 200px;
     border: 3px solid black;
  border-radius: 10px;
  height: 50%;
  background-color: black;  
}

.intereses .iconos{   
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: auto;
  width: 150px;
  height: 150px;  
  border: 3px solid brown;
  color: white;
  border-radius: 50%;
}




@media(max-width: 959px){
  .caja-martin{    
    flex-wrap: wrap;
    height: fit-content;
    
  }

  .caja-martin > img{
    width: 150px;
    height: 150px;    
    margin: 20px auto 20px auto;
    }
  
    .titulo-martin{
     justify-content:center;
      align-items: center;
      margin: 150px 0px 0px 0px;
      
    }

  .navegacion-principal{
    flex-direction: column;
    width: fit-content;
    margin: 30px auto auto auto;
  }
.navegacion-principal a{
margin:20px auto auto auto;
  }

  .intereses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 20px auto auto auto;
    background-color: black;  
     }

    .iconos{
    margin: 20px;
      padding:20px;
      text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .intereses .iconos{
    margin: 10px;
  }

}